@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_BaseLayout.cshtml";
}

<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h1>Mongo MVC</h1>
    <small>It's MVC, now with more MongoDB!<small>
</div>
<div class="well">
</div>


